<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/Css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/Site.css" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Caelum Estoque</a>
                </div>
                <ul class="nav navbar-nav pull-right">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                    <li>@Html.ActionLink("Categorias", "Index", "Categoria")</li>
                    <li>@Html.ActionLink("Usuários", "Index", "Usuario")</li>
                </ul>
            </div>
        </nav>

        <div id="conteudo">
            @RenderBody()
        </div>
    </div>
</body>
</html>